# PostgreSQL Database Connection (Neon / Supabase / Local PostgreSQL)
DATABASE_URL="postgresql://username:password@ep-sample.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Server configuration
PORT=5050
NODE_ENV=development

# JWT Authentication Secret
JWT_SECRET="smart_logistics_jwt_super_secret_key_2026_dbms_project"
JWT_EXPIRES_IN="7d"

# Python FastAPI Machine Learning Microservice
ML_SERVICE_URL="http://127.0.0.1:8000"

